* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #FF99FF;
    padding: 1em;
}

header > img {
    height: 4em;
}

header > h1 {
    font-size: 4em;
    padding-left: .5em;
}

#body {
    background-color:#FFDDFF;
    flex-grow: 1;
}

#attempts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.attempt {
    padding: 10px;
}

.attempt > h3 {
    font-size: 2em;
}

.attempt > strong, .attempt > p {
    font-size: 1em;
}

.row {
    display: flex;
    flex-direction: row; 
}

.column {
    display: flex;
    flex-direction: column;
}

#reference {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media only screen and (max-width: 500px) {
    .attempt > h3 {
      font-size: 6em;
    }

    .attempt > strong, .attempt > p {
        font-size: 3em;
    }
    
  }